@model AddRoleFormModel

@{ViewData["Title"] = "Create new Role"; }

<div style="background-color:lightyellow" class="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <h2 class="heading-margin text-center">Добавяне на роля</h2>
            <form method="post">
                <div class="form-group">
                    <label asp-for="Name">Роля</label>
                    <input asp-for="Name" class="form-control" placeholder="Име на роля...">
                    <span asp-validation-for="Name" class="small text-danger"></span>
                </div>
                <input class="btn btn-primary float-right" type="submit" value="Save" />
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
