@model EmployeeDetailsViewModel

@{ViewData["Title"] = $"{Model.FirstName} {Model.LastName}"; }

<div class="articles-read">
    <div class="row">
        <div class="col">
            <div class="image img-thumbnail">
                <img src="@Model.ImageUrl" class="img-fluid">
                <div class="article">
                    <h2 class="text-center" style="color:#ba9765">@Model.FirstName @Model.LastName</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="content text text-center font-weight-normal">
                <h3 class="text-center" style="color:#ba9765">Биография</h3>
                <p>@Model.Biography</p>
            </div>
        </div>
    </div>
</div>

