@*@model IEnumerable<EmployeeListingViewModel>*@
@model EmployeeQueryServiceModel


@{ViewData["Title"] = "Мениджмънт"; }

<div class="row">
    <partial name="_EmployeesPartial" model="@Model.Employees" />
</div>