@model CreateCommentFormModel

@{ViewBag.Title = "Add Comment"; }

<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <h2 class="heading-margin text-center">@ViewBag.Title</h2>
            <form method="post">
                <div class="form-group" style="display:none">
                    <label asp-for="MemberId"></label>
                    <input asp-for="MemberId" class="form-control" placeholder="">
                    <span asp-validation-for="MemberId" class="small text-danger"></span>
                </div>
                <div class="form-group" style="display:none">
                    <label asp-for="PerformanceId"></label>
                    <input asp-for="PerformanceId" class="form-control" placeholder="">
                    <span asp-validation-for="PerformanceId" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text"></label>
                    <textarea asp-for="Text" class="form-control" rows="3" placeholder="You comment here... :)"></textarea>
                    <span asp-validation-for="Text" class="small text-danger"></span>
                </div>
                <input class="btn btn-primary float-right" type="submit" value="Send" />
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
