@model IEnumerable<NewsListingViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<section class="page-home__news">
    <h2 class="border-bottom">
        <a class="nav-link text-center text-secondary text-info" asp-area="" asp-controller="News" asp-action="All">Новини</a>
    </h2>
    <div class="row">
        @foreach (var news in Model)
        {
            <div class="col-md-4">
                <div class="card shadow">
                    <img class="card-img-top" src="@news.ImageUrl" alt="...">
                    <div class="card-body text-center">
                        <span>Opera House Theater</span>
                        <h5 class="card-title text-center" style="color:#ba9765">@news.Title</h5>
                        <a asp-controller="News" asp-action="Details" asp-route-id="@news.Id" class="btn btn-info">Виж повече</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>